

.access-content {
    padding: 2rem 1rem;
}

.access-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.access-flex-item {
    text-align: center;
}

.access-flex-item h1 {
    font-size: 1.5rem;
}

.access-flex-item h2 {
    font-size: 1rem;
    font-weight: normal;
}

.access-flex-item p {
    font-size: 12px;
}

@media (max-width: 700px) {
    .access-flex {
        flex-wrap: wrap;
    }
}